/*theme*/

html {
    background-color: var(--black);
    color: var(--dark);
}
html, html a, button {
    color: var(--lightish);
}
pre code {
    color: var(--lighter);
}
*::selection {
    background: var(--light);
    color: var(--dark);
}