/*theme*/

html {
    background-color: var(--black);
    color: var(--dark);
}
html, html a, button {
    color: var(--light);
}
pre, code, pre code {
    color: var(--faded);
}
*::selection {
    background: var(--light);
    color: var(--dark);
}
thead tr th {
    border-color: var(--white);
}