/*theme*/

html {
    background-color: var(--white);
    color: var(--dark);
}
html, html a, button {
    color: var(--dark);
}
pre code {
    color: var(--darker);
}
*::selection {
    background: var(--dark);
    color: var(--white);
}