:root {
    --content-height-mobile: 27.5rem
        /* this needs to match the height of #content contents for transitions to be seamless */
    ;

    --content-max-width: 90vw;
    --content-width-mobile: 13rem;
    --content-width-sm: 30rem;
    --content-width-md: 50rem;
    --content-width-lg: 60rem;

    --sidebar-width: 14rem;
    --gutter-width: 2rem;

    --default-font-size: 17px;

    --h3-margin: 1rem 0rem;
    --home-section-spacing: 2rem;

    --full-trans: rgba(0, 0, 0, 0);
}

* {
    font-family: 'Courier New', Courier, monospace;
}

/* COLORS */

body.light-theme {
    transition: 0.15s;
    --background-color: white;
    --text-primary: black;
    --text-light: rgba(125, 125, 125, 0.7);
    --theme-img-filter: none;
}

body.dark-theme {
    transition: 0.15s;
    --background-color: rgb(25, 25, 25);
    --text-primary: white;
    --text-light: rgba(125, 125, 125, 0.7);
    --theme-img-filter: invert(1) saturate(1.5) hue-rotate(180deg) brightness(0.95);
}

html,
body {
    font-size: var(--default-font-size);
    margin: 0rem;
    background-color: var(--background-color);
}

#legend {
    filter: var(--theme-img-filter);
}

/* navigation */

.hidden {
    display: none;
}

.visible {
    display: block;
}

/* layout */

#content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin: 50px 0px; */
}

#content {
    display: flex;
    width: var(--content-width-sm);
    max-width: 90vw;
    max-height: 90vh;
}

#sidebar {
    position: fixed;
    text-align: right;
    height: fit-content;
    width: var(--sidebar-width);
}

#back {
    margin: var(--h3-margin);
}

#sidebar nav section {
    margin-bottom: var(--home-section-spacing);
}

#main-col {
    position: fixed;
    height: fit-content;
    padding-left: calc(var(--sidebar-width) + var(--gutter-width));
}

#banner-right,
#banner-left {
    margin-bottom: calc(1.5 * var(--home-section-spacing));
}

/* initial load */

main:not(#home-main),
nav:not(#home-nav) {
    display: none;
}

/* adaptive layout */

/* #content.mobile #main-col {
    position: relative;
}

#content.mobile.home {
    min-height: var(--);
} */


/* text */

body,
#theme-toggle,
code,
pre {
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--default-font-size);
    color: var(--text-primary);
}

a,
button {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-primary);
}

pre.button {
    font-family: Courier, monospace;
    /* color: var(--text-light); */
    text-align: center;
}

code {
    border-bottom: 1px dashed var(--text-primary);
}

#sidebar nav a,
#sidebar #theme-toggle,
#name-right,
#author-right {
    color: var(--text-light);
}

#name-left,
#name-right {
    font-size: 1.6rem;
}

#name-right,
#name-right a,
#author-right {
    transform: scale(-1, 1);
    text-align: right;
}

#home h3,
#sidebar h3,
h3 {
    font-size: var(--default-font-size);
    font-weight: 500;
    text-decoration: underline;
    margin: var(--h3-margin);
}

#home-main .hobby {
    margin-bottom: var(--home-section-spacing);
}

#theme-toggle {
    border: none;
    background: none;
}

/* images? */

img {
    max-width: 100%;
}

/* some folding phones portrait, mid phones landscape */

@media only screen and (max-width: 800px) {
    :root {
        --default-font-size: 15px;
    }
}

/* huuuge phones portrait? mid phones landscape (height) */

@media only screen and (max-width: 600px),
(max-height: 500px) {
    :root {
        --default-font-size: 14px;
    }
}

/* small phones landscape */

@media only screen and (max-height: 500px) {
    :root {
        --default-font-size: 14px;
    }
}

/* most phones portrait */

@media only screen and (max-width: 475px) {
    :root {
        --default-font-size: 13px;
    }

    #content {
        align-items: center;
        flex-direction: column;
    }

    #sidebar {
        text-align: center;
        position: relative;
        padding-top: calc(0.5 * var(--home-section-spacing) - 15px)
            /* this one's a little sloppy... 15px matches the top-margin of the first sidebar link */
        ;
    }

    #sidebar #banner-left {
        display: none;
    }

    #sidebar #website-link {
        display: none;
    }

    #main-col {
        position: relative;
        padding-left: 0px;
        text-align: center;
    }

    #name-right,
    #name-right a,
    #author-right {
        transform: scale(1, 1);
        text-align: center;
    }

}